<h2>ユーザー情報更新</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <table>
    <tr>
      <th><%= f.label :email %></th>
      <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
    </tr>
    
    <tr>
      <th><%= f.label :password %> <i>（変更する場合のみ入力)</i></th>
      <td><%= f.password_field :password, autocomplete: "new-password" %></td>
    </tr>

    <tr>
      <th><%= f.label :password_confirmation %></th>
      <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
    </tr>
    <tr>
      <th><%= f.label :current_password %></th>
      <td><%= f.password_field :current_password, autocomplete: "current-password" %></td>
    </tr>
  </table>
  
  <div class="actions">
    <%= f.submit "ユーザー情報更新" %>
  </div>


<%end%>

