<h2>アカウント新規作成</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <table cellpadding="30" border-bottom="1">
    <tr class="table-title">
      <th><%= f.label :名前 %><span class="attention">必須</span></th>
      <td><%= f.text_field :name %></td>
    </tr>

    <tr class="field">
      <th><%= f.label :メールアドレス %><span class="attention">必須</span></th>
      <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
    </tr>

    <tr class="field">
      <th>
        <%= f.label :パスワード %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em><span class="attention">必須</span>
        <% end %>
      </th>
      <td><%= f.password_field :password, autocomplete: "new-password" %></td>
    </tr>

    <tr class="field">
      <th><%= f.label :もう一度パスワード入力してください %><span class="attention">必須</span></th>
      <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
    </tr>

    <tr class="field">
      <th><%= f.label :アイコン画像 %><span class="attention">必須</span></th>
      <td><%= f.file_field :icon %></td>
    </tr>
  </table>

  <div class="actions">
    <%= f.submit "登録" %>
  </div>
<% end %>
<%= link_to "TOPに戻る", :users %>
