<h3>予約一覧</h3>
<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>画像</th>
      <th>開始日</th>
      <th>終了日</th>
      <th>人数</th>
      <th>合計金額</th>
    </tr>
  </thead>

  <tbody>
    <% @reservation.each do |reservation| %>
      <tr>
        <td><%=reservation.room.name%></td>
        <td><%=image_tag reservation.room.avatar.url%></td>
        <td><%=reservation.start_day.strftime('%Y年%m月%d日')%></td>
        <td><%=reservation.end_day.strftime('%Y年%m月%d日')%></td>
        <td><%=reservation.person_number%>人</td>
        <td><%=reservation.stay_day*reservation.room.price%></td>
      </tr>
    <%end%>
  </tbody>
</table>
