<h3>ルーム予約画面</h3>

<% if flash[:notice]%>
  <p class="notice-ok"><%= flash[:notice]%></p>
<%end%>
<div>
  <div class='room-img'>
    <%=image_tag @room.avatar.url%>
  </div>
  <div class='room-name'>
    <%=@room.name%>
  </div>
</div>
<%= form_with model:@reservation do |f| %>
  <h3>¥<%=@room.price%>/ 日</h3>
  <h4>開始日</h4>
    <%= f.date_field :start_day, value: :start_day%>
  <h4>終了日</h4>
    <%= f.date_field :end_day, value: :end_day%>
  <h4>人数</h4>
    <%=f.number_field :person_number, value: :person_number%>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :room_id, value: @room.id %>
  <%= f.submit "登録"%>
<%end%>
