<h3>登録済みルーム一覧</h3>

<% if flash[:notice]%>
  <p class="notice-ok"><%= flash[:notice]%></p>
<%end%>

<table>
  <thead>
    <tr>
      <th>ルーム画像</th>
      <th>ルーム名</th>
      <th>ルーム紹介</th>
      <th>料金</th>
      <th>登録日</th>
      <th>削除</th>
    </tr>
  </thead>
  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= image_tag room.avatar.url %></td>
        <td><%= room.name%></td>
        <td><%= room.introduction %></td>
        <td><%= room.price %></td>
        <td><%= room.created_at.strftime('%Y年%m月%d日') %></td>
        <td><%= link_to "削除", room, method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
